// Full Spectrum vs. CBD Isolate

.compare-container {
    padding: 150px 70px;
    background: linear-gradient(90deg, #000000 0%, #6d6d6d 52%, #000000 100%);
    color: #fff;

    @media ( max-width: 1080px ) {
        padding: 80px 20px;
     }

    @media ( max-width: 780px ) {

     }
}

.compare-title {
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}

.compare-sub-title {
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}

.compare-last-message {
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
    max-width: 1000px;
}

.media-box-container--compare {
    padding: 70px 0;
}

.media-box-content--compare {
    margin-right: 50px;

    @media ( max-width: 780px ) {
        margin-right: 0;
        margin-bottom: 60px;
     }
}

.media-box-title-compare {
    display: flex;
    align-items: flex-start;
}

h2.media-box-title-copy {
    font-weight: 400;
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
    margin-top: -6px;
    margin-left: 15px;

    @media ( max-width: 780px ) {
        font-size: 26px;
     }
}

.media-box-image-compare {
    max-width: 16%;
}

.compare-images-container {
    display: flex;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;

    @media ( max-width: 1080px ) {
        display: block;
     }

    @media ( max-width: 780px ) {

     }
}

.compare-product-img {
    max-width: 400px;
    margin-right: 150px;
    width: 50%;

    @media ( max-width: 1080px ) {
        margin-right: 0;
        margin: 0 auto;
        margin-bottom: 60px;
     }
}

.compare-liquid-img {
    max-width: 800px;
    width: 50%;

    @media ( max-width: 1080px ) {
        margin: 0 auto;
        width: 100%;
     }
}

.compare-message-container {
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @media ( max-width: 1080px ) {
        display: block;
     }
}

.compare-list-items {
    padding: 0;
    margin-right: -7em;

    @media ( max-width: 1440px ) {
        margin-right: 0;
     }

    @media ( max-width: 1080px ) {
        padding-left: 20px;
    }
}

.compare-list-item {
    font-size: 22px;
    padding: 13px 0;
    white-space: nowrap;

    @media ( max-width: 1440px ) {
        white-space: inherit
     }

    @media ( max-width: 1080px ) {
       font-size: 18px;
       white-space: inherit
    }
}

.sync-logo-sub-container--gusto {
    align-items: center;
    margin-bottom: -88px;

    @media ( max-width: 1080px ) {
        margin-bottom: 0;
        margin-top: 30px;
    }
}