.display-main-container {
background-image: url(../img/sync-bg.jpg);
background-size: cover;
background-repeat: no-repeat;

}

.display-content-container {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

.display-img {
    max-width: 1200px;
    position: relative;
    top: -70px;
}

.display-copy-container {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 600px;

    @media ( max-width: 1080px ) {
        margin: 0 auto;
        position: relative;
        top: -70px;
        padding: 0 20px;
    }
}

.display-copy-text {
    font-size: 26px;
    line-height: 1.5;

    @media ( max-width: 780px ) {
        font-size: 20px;
    }
}

.display-copy-text-warning {
    margin-top: 40px;
    color: #282828;

    @media ( max-width: 780px ) {
        margin-top: 0;
    }
}

.sub-flavor-title--black {
    color: #000;
}

.sync-logo-sub-container--center {
    justify-content: center;
}