// Flavors

.flavor-container {
   background-color: #000;
   background-repeat: no-repeat;
   background-size: cover;
   color: #fff;
}

.flavor-container--extra-padding {
    padding: 80px 0;
}

.flavor-title-container {
    margin-right: 15px;
    align-self: flex-end;

    @media ( max-width: 480px ) {
        margin-right: 0;
    }
}

.flavor-title {
    font-weight: 800;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 0;
    color: #ff2e64;
    font-family: "308";
    font-size: 53px;
    font-weight: normal;

    @media ( max-width: 1080px ) {
        font-size: 36px;
    }


    @media ( max-width: 780px ) {
        // font-size: 30px;
    }
}

.sub-flavor-title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    padding-top: 35px;
    max-width: 1000px;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    align-self: center;
    font-family: "308";
    font-size: 64px;
    font-family: "308";
    font-size: 58px;
    font-weight: normal;

    @media ( max-width: 1080px ) {
        font-size: 45px;
    }
}

.media-box-container {
    display: flex;
    padding: 40px 0;
    background-size: cover;

    @media ( max-width: 780px ) {
       display: block;
    }
}

.media-box-container--reverse {
    flex-direction: row-reverse;
}

.media-box-content {

}

.media-box-image {
    max-width: 85px;
    margin-right: 15px;

    @media ( max-width: 1080px ) {
        max-width: 65px;
    }
}

.media-box-title-image {
    max-width: 30%;
}

.media-box-desc-box {
    display: flex;
    align-items: center;
    padding: 100px 0 0;

    @media ( max-width: 1080px ) {
       padding: 0;
    }

    @media ( max-width: 480px ) {
        flex-direction: column;
        justify-content: center;
     }

}

.melon-img {
    max-width: 680px;
}

.media-box-copy {
    margin-top: 30px;
    line-height: 1.4;
    max-width: 600px;
    font-size: 26px;

    @media ( max-width: 1080px ) {
        font-size: 20px;
    }
}

.sub-flavor-message {
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    max-width: 1000px;
    margin: 0;
    text-transform: uppercase;
    color: #ff2e64;
    font-family: "308";
    font-size: 27px;
    font-weight: normal;

    @media ( max-width: 1080px ) {
        font-size: 19px;
    }
}

.sync-logo-sub-container {
    display: flex;

    @media ( max-width: 480px ) {
        margin-top: 15px;
     }
}

.span-5 {
    width: 50%;
    padding-right: 20px;

    @media ( max-width: 780px ) {
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:last-child {
        margin-right: 0;

        @media ( max-width: 780px ) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.melon-bg {
    background-image: url(../img/melon-berry-bg.jpg);
    background-size: cover;
}

.lemon-tart-bg {
    background-image: url(../img/lemon-tart-bg.jpg);
    background-size: cover;
}

.purple-haze-bg {
    background-image: url(../img/purple-haze-bg.jpg);
}

.lemon-tart-color {
    color: #ffc601;
}

.span-5--lemon-padding {
    padding-right: 0;
    padding-left: 70px;

    @media ( max-width: 780px ) {
        padding-left: 0;
    }
}

.span-5--lemon-image-padding {
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
}

.melon-img--lemon {
    max-width: 600px;
}

.melon-img--purple {

}

.media-box-copy--lemon {
    max-width: 800px;
}

.span-5--purple-image-padding {

}

.melon-img--purple {

}

.span-5--purple-padding {

}

.purple-tart-color {
    color: #b638ff;
}

.media-box-copy--purple {
    max-width: 750px;
}

.lemon-tart-content-container {
    display: flex;
    justify-content: flex-end;
}

.melon-content-max-width {
    max-width: 2050px;
}

.lemon-tart-content--max-width {
    max-width: 1700px;
    width: 100%;
}

.span-5-padding {
    @media ( max-width: 780px ) {
        padding: 0 20px;
    }
}

.melon-font-color-bg {

    @media( max-width: 780px ) {
        background: rgba(255,255,255, 0.6);
        padding: 20px;
    }
}