@font-face {
    font-family: "gotham-book";
    font-display: auto;
    src: url("../fonts/gotham/regular/Gotham-Book.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "gotham-book";
    font-display: auto;
    src: url("../fonts/gotham/light/Gotham-Light.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "gotham-book";
    font-display: auto;
    src: url("../fonts/gotham/medium/Gotham-Medium.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "gotham-book";
    font-display: auto;
    src: url("../fonts/gotham/bold/Gotham-Bold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "gotham-black";
    font-display: auto;
    src: url("../fonts/gotham/black/Gotham-Black.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "308";
    font-display: auto;
    src: url("../fonts/308-CAI978/308-CAI978.ttf") format("truetype");
    font-weight: normal;
}
