.footer-container {
    background-color: #1e1e1e;
    padding: 50px 70px 15px;
    color: #c8c8c8;

    @media ( max-width: 780px ) {
        padding: 50px 20px 15px;
    }
}

.footer-content {
    display: flex;
    padding-top: 15px;

    @media ( max-width: 780px ) {
        display: block;
    }
}

.footer-boxes {
    width: 25%;
    opacity: 0;

    @media ( max-width: 780px ) {
        width: 100%;
        margin-bottom: 20px;
        display: none;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer-boxes--form {
    width: 40%;
    opacity: inherit;
    display: flex;
    justify-content: flex-end;

    @media ( max-width: 1080px ) {
        justify-content: inherit;
    }

    @media ( max-width: 780px ) {
        width: 100%;
    }
}

.footer-boxes-title {
    text-transform: uppercase;
    font-size: 14px;

    @media ( max-width: 780px ) {
        margin-bottom: 0;
    }
}

.footer-boxes-items {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.footer-boxes-item {
    padding-bottom: 10px;
    // display: none;

    a {
        color: #c8c8c8;
        font-size: 14px;
        text-decoration: none;

        &:hover {
            color: #c8c8c8;
            text-decoration: underline;
        }

        &:visited {
            color: #c8c8c8;
        }
    }
}

.footer-form {

}

.form-container {

    @media ( min-width: 481px ) and ( max-width: 780px ) {
        margin-top: -15px;
    }
}

.form-content {

}

#mktoForm_1545 {


}

.mktoForm {
    display: flex;
    align-items: flex-start;
    width: 100% !important;

    @media ( max-width: 780px ) {
        display: block;
        padding-top: 0 !important;
        padding-left: 0 !important;
    }
}

.mktoForm div, .mktoForm span, .mktoForm label, .mktoForm p {
    margin-left: 0 !important;
}

.mktoForm .mktoButtonWrap.mktoDownloadButton .mktoButton {
    height: 42px !important;
    letter-spacing: .05em;
}

#Email {
    background-color: transparent;
    width: 100%;
    max-width: 270px;
    margin-right: 1rem;
    color: #fff;
    padding: 10px 10px;
    box-shadow: none !important;
    border-color: #fff;
}

.mktoButton {
    background: transparent !important;
    width: 100%;
    max-width: 270px;
    border-color: #fff !important;
    background-image: none !important;
    box-shadow: none !important;
    color: #fff !important;
    text-transform: uppercase;
    padding: 12px 20px !important;
}

.form-small-print {
    font-size: 9px;
    line-height: 1.5;
    display: block;
    padding-top: 5px;

    a {
        color: #c8c8c8;
        text-decoration: underline;

        &:hover {
            color: #c8c8c8;
        }

        &:visited {
            color: #c8c8c8;
        }
    }
}

.copyright {
    padding-top: 30px;
}

.copyright-content {
    span {
        font-size: 13px;
        border-right: solid 1px;
        padding: 0 10px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            border-right: none;
        }
    }
}

.show-first-box {
    opacity: inherit;

    @media( max-width: 780px ) {
        display: block;
    }
}

.mktoForm .mktoFieldWrap {

    @media( max-width: 780px ) {
        width: 100% !important;
    }

}

#Email {

    @media( max-width: 780px ) {
        max-width: 100% !important;
        width: 100% !important;
    }
}