// Global
*, *:before, *:after {
    box-sizing: border-box;
}

html,body {
    font-family: "gotham-book";
}

img {
    display: block;
    width: 100%;
    height: auto;
}

main {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, #151414 52%, rgba(0,0,0,1) 100%);
}