// Header
.header-container {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    z-index: 2;

    width: 100%;
}

.header-content-container {
    background-color: rgba(0, 0, 0, .6);
    padding: 13px 70px 30px;

    @media ( max-width: 1080px ) {
        padding: 13px 20px 30px;
    }
}

.header-warnging {
    color: #9f9f9f;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 70px;

    @media ( max-width: 1080px ) {
        margin-bottom: 0;
        line-height: 1.3;
    }
}

.header-content {
    display: flex;

    @media ( max-width: 1080px ) {
        justify-content: space-between;
        padding: 10px 0 0;
    }
}

.logo-content {
    display: flex;
    width: 42%;
    align-items: center;
}

.header-logo-container {
    position: absolute;
    max-width: 123px;
    bottom: -49px;

    @media ( max-width: 1080px ) {
        position: inherit;
        bottom: inherit;
        max-width: 90px;
    }
}

.logo-img {

}

.sub-logo-img {
    display: block;
    width: 100%;
    max-width: 93px;
    height: auto;
    padding-left: 30px;
}

.nav-content {
    width: 50%;
    display: flex;
    align-items: center;

    @media ( max-width: 1080px ) {
        display: none;
    }
}

.nav-items {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.nav-item {
    padding-right: 12px;
    border-right: 1px solid #fff;
    font-size: 18px;
    text-transform: uppercase;

    a {
        text-decoration: none;
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }

    &:last-child {
        padding-right: 0;
        padding-left: 12px;
        border-right: none;
    }
}

.menu-content {
    width: 100%;
    max-width: 129px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media ( max-width: 1080px ) {
        justify-content: flex-end;
     }
}

.us-flag-img {
    display: block;
    width: 100%;
    max-width: 50px;

    @media ( max-width: 1080px ) {
       display: none;
       justify-content: flex-end;
    }
}

.menu-img {

    img {
        display: block;
        width: 100%;
        max-width: 50px;
    }
}

.full-screen-moible-menu {
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100vh;
    top: 0;
    align-items: center;
    justify-content: center;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            padding-bottom: 30px;

            &:last-child {
                padding-bottom: 0;
            }

            a {
                text-decoration: none;
                color: #fff;
                font-size: 30px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}

.open {
    display: flex !important;
}

.no-scroll {
    overflow: hidden;
}