//  Hero
.hero {
    position: relative;
    background-image: url(../img/main-hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    @media ( max-width: 781px ) {

        // background: #f1f1f1;
        // background-image: url(../img/dose-device-bg-v2.png);
        // background-repeat: no-repeat;
        // background-size: 100% 100%;
        // background-size: cover;
        // background-position: top center;
        // background-color: #f1f1f1;
        // height: 100%;
        // width: 100%;
        // position: relative;
    }

}

.hero-bg-image {

    // @media ( max-width: 780px ) {
    //     display: none;
    // }
}


.the-flavors--last {
    max-width: 19.2% !important;

    @media ( max-width: 780px ) {
        max-width: 31.333% !important;
    }
}

.hero-message {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #dfa6ff;
    text-align: center;

    @media ( max-width: 780px ) {
        margin: 0 auto;
        position: initial;
    }

    ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        @media ( max-width: 780px ) {
            margin: 0;
            padding: 20px;

        }

        li {
            font-weight: 400;
            font-size: 24px;
            padding: 0 10px 6px;
            border-right: 1px solid #dfa6ff;
            text-transform: uppercase;
            font-size: 20px;

            @media ( max-width: 780px ) {
                font-size: 12px;
            }

            &:last-child {
                border-right: 0;
            }
        }
    }
}

.hero-title {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;

    @media ( max-width: 780px ) {
        // margin: 0 auto;
        // position: initial;
        // text-align: center;
        // background-color: rgba(255, 255, 255, .5);
        // padding: 20px;
    }

    h1 {
        padding-left: 0.6em;
        padding-top: 56px;
        font-weight: 700;
        font-size: 105px;
        margin: 0;
        font-family: "308";

        @media ( max-width: 780px ) {
            padding-left: 15px;
            padding-top: 14px;
            font-size: 68px;
        }
    }

    h2 {
        font-weight: 400;
        font-size: 24px;
    }
}