.image-container {
    background-color: #f1f1f1;
    max-height: 519px;
    margin-top: 100px;
}

.image-breaking-out {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    top: -28px;
}