.information-container {
    background-color: #000;
    width: 100%;
    position: relative;
    padding: 70px 20px;

    @media ( max-width: 780px ) {
        padding: 30px 20px;
    }
}

.information-content {


    @media ( max-width: 780px ) {
       display: block;
     }
}

.information-img {
    max-width: 150px;
    margin: 0 auto;
}

.information-copy {
    width: 33.333%;
    margin-right: 80px;

    @media ( max-width: 780px ) {
        margin-right: 0;
        width: 100%;
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:last-child {
        margin-right: 0;
    }
}


.information-title {
    font-size: 20px;
}

.information-text {

}

.information-sub-title {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: 30px 0 0;
    color: #bababa;
}