.sync-message-container {
    padding: 80px 20px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, #424242 52%, rgba(0,0,0,1) 100%);

    @media ( max-width: 780px ) {
        padding: 40px 20px;
    }
}

.sync-message-container--padding {
    padding: 50px 20px 30px;

    @media ( max-width: 780px ) {
        padding: 30px 20px;
    }
}

.star-message-text {
    line-height: 1.5;
    font-size: 85px;
    margin: 0;
    text-align: center;
    color: #fff;
    flex: 1;
    align-self: center;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0 20px;
    font-family: "308";

    @media ( max-width: 1080px ) {
        font-size: 62px;

    }

    @media ( max-width: 780px ) {
        font-size: 40px;
        line-height: 1;
    }
}

.star-message-text--font {

    @media ( min-width: 1081px ) {
        font-size: 76px;
    }
}

.star-logo-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

    @media ( max-width: 780px ) {
        display: block;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.star-logo-content--width {
    max-width: 1000px;
}

.star-logo-img {
    max-width: 100px;
    align-self: start;

    @media ( max-width: 780px ) {
        padding-right: 0;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.star-logo-img--s {
    max-width: 62px;

    @media ( max-width: 780px ) {
        margin: 0 auto;
    }
}

.star-sub-message-text {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin: 0;

    @media ( max-width: 1080px ) {
        font-size: 20px;
    }
}